* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #242424;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header {
  color: wheat;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #1b1b1b;
  border-radius: 10px;
  display: inline;
  padding: 10px 70px;
  font-weight: bold;
}

.time-table {
  border-spacing: 10px;
  width: 80%;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto;
}

.time-table .label {
  background-color: #1b1b1b;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.time-table .period-number {
  color: white;
  font-size: 25px;
}

.time-table .period-time {
  color: white;
  margin: 9px;
}

.time-table .period-data {
  border-radius: 5px;
  background-color: wheat;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  font-size: 20px;
}

.time-table .cell {
  margin: 5px;
  padding: 2vh;
  text-align: center;
}

.time-table .dow {
  font-family: 'Roboto', sans-serif;
  color: wheat;
  font-size: 25px;
  background-color: #1b1b1b;
  border-radius: 10px;
  text-align: center;
}

.time-table .period-data:hover {
  background-color: white;
}

.time-table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: auto;
}

.time-table-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.time-table-controls #launch-class {
  background-color: #1b1b1b;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 10px;
}

.time-table-controls #launch-class:hover {
  background-color: white;
  color: #1b1b1b;
}

.rohan-fun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1b1b1b;
  padding: 20px;
}

.rohan-fun #question {
  color: wheat;
  text-align: center;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

.rohan-fun .answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.rohan-fun .answers .answer {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  background-color: #242424;
  padding: 5px 50px;
  border-radius: 5px;
  cursor: pointer;
}

.rohan-fun .answers .answer:hover {
  background-color: wheat;
  color: black;
}
/*# sourceMappingURL=index.css.map */